  <h1>Add a task</h1>
  <div class="d-flex flex-column">
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
  </div>
<%= link_to "See all tasks", tasks_path, class:"btn btn-primary mt-2" %>
